* {
    box-sizing: border-box;
}

body {
    border: 1px solid red;
    margin:0;
}

.navBar{
    background-color: #2196f3;
    padding: 15px;
    display: block;
    color: #929292;
    cursor: pointer;
    width: 100%;
    font-size: 1.5em;
    flex-direction: row-reverse;
}

.menu, .submenu{
    list-style: none;
    margin: 0;
    padding-right: 10px;
    color: #f3e3d2;
}

.menu {
    background: red;
    width: 100%;
    margin-left: -100%;
}

.menu__link {
    display: block;
    padding: 20px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;

}

.submenu {
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.submenu .menuLink {
    background: #333;
    padding-left: 50px;
    
}

