* {
  box-sizing: border-box;
}

body {
  border: 1px solid red;
  margin: 0;
}

.nav-bar {
  background-color: #2196f3;
  padding: 15px;
  display: block;
  color: #929292;
  cursor: pointer;
  width: 100%;
  font-size: 1.5em;
  /* flex-direction: row-reverse; */
}

i {
  padding-right: 10px;
  padding-left: 10px;
}

.menu,
.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu {
  background: grey;
  width: 50%;
  margin-left: -100%;
  transition: all 0.5s;
}

.menu__link {
  display: block;
  padding: 20px;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}

.submenu {
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.mostrarSubmenu {
  height: 50px;
  overflow: visible;
  transition: all 0.3s;
}

.submenu .menu__link {
  background: #333;
  padding-left: 35px;
}

.mostrar {
  margin-left: 0;
}

@media (min-width: 1024px) {
  .nav-bar {
    display: none;
  }

  .menu {
    margin-left: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
  }


  .container-submenu {
    position: relative;
  }

  .submenu {
    position: absolute;
    top: 63px;
    width: 150px;
    overflow: visible;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
  }

  .subMenu__item {
      background-color: rgb(128, 235, 220);
      display: block;
      width: 160px;
      height: 45px;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 5px;
      font-size: 1.3em;
  }

  .container-submenu:hover .submenu {
    opacity: 1;
    visibility: visible;
  }
}


main {
    background-color: khaki;
    height: 100vh;
}

footer {
    background-color: grey;
    padding: 15px;
    color: rgb(236, 231, 231);
    text-align: center;
        font-size: 1.2em;
    /* flex-direction: row-reverse; */
  }