/* Extra large devices (large laptops and desktops, 1200px and up) */

* {
  box-sizing: border-box;
  font-family: "Quicksand", serif;
}

body {
  background-color: #f8fcfb;
  margin: 0;
  width: 100%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

#main {
  background: #f8fcfb;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
/* MAIN--------------------------------------*/
a {
  text-decoration: none;
}

h2,
h3 {
  font-size: 1.7em;
  text-align: center;
}

h1 {
  font-size: 2em;
  text-align: center;
}

#home {
  height: 100vh;
  padding-top: 50px;
  font-family: "Lora", sans-serif;
  font-weight: 800;
}

#role {
  font-size: 1.2em;
  text-align: center;
}

#photo {
  display: flex;
  width: 50vh;
  margin-left: auto;
  margin-right: auto;
}

/* END MAIN--------------------------------------*/

/* ABOUT ME--------------------------------------*/

#sectionSobreMi,
#sectionEstudios,
#sectionCertificado,
#sectionTecnologias,
#sectionExperiencia,
#sectionProyectos,
#sectionContactos {
  width: 98%;
  padding-top: 25px auto 0 auto;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 0.8em;
  padding: 5px 15px 5px 15px;
  margin: auto;
  text-align: left;
}

#cvBtnContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.cvButton {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 1em;
  font-weight: 700;
  height: 2em;
  justify-content: center;
  line-height: normal;
  max-width: 100%;
  padding: 2px 24px;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  touch-action: manipulation;
  width: auto;
}

/* MODAL CV ----------------------------------*/

.modalContainer {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 2s ease-in-out;
}

.modalContenido {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: aqua;
  border-radius: 5%;
  width: 94%;
  padding: 10% 5%;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.modalContenido > button {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

#modalJs:target,
#modalCv:target,
#modalReact:target,
#modalUtn:target,
#modalAaci:target,
#modalBV:target,
#modalComunicacion:target,
#modalEducacionIt:target {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

.document {
  border-radius: 5%;
  padding-top: 15px;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

/* END ABOUTE ME--------------------------------------*/

/* ESTUDIES-------------------------------------------*/

.imgArrow {
  border: 1px black solid;
  border-radius: 5%;
  height: 22px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: text-top;
}

.certificadosLista {
  display: inline-flex;
  flex-direction: column;
  list-style: none;
  font-size: 1em;
  padding-left: 0;
}

.certificadosLista > li {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
}

/* END ESTUDIOS--------------------------------------------------*/

/* END TECNOLOGIAS-----------------------------------------------*/

#sectionTecnologias {
  height: unset;
}

.imgTecnologia {
  height: 15vh;
  padding-left: 20px;
}

.slider {
  width: 90%;
  margin: auto;
  overflow: hidden;
  border: #333 2px solid;
}

.slider ul {
  display: flex;
  width: 200%;
  animation: linear;
  animation: cambio 5s infinite alternate;
  animation-timing-function: linear;
}

.slider li {
  list-style: none;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -330%;
  }
}

/* END TECNOLOGIAS-------------------------------------------------------*/

/* EXPERIENCIA-----------------------------------------------------------*/

#cardExperiencia {
  width: 95%;
}

.sectionP {
  font-size: 0.9em;
}

/* END EXPERIENCIA--------------------------------------------------------*/

/* PROYECTOS--------------------------------------------------------*/

.cardProyecto {
  width: 90%;
  border-radius: 5%;
  margin: 5% auto 5% auto;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #79d1c3;
  text-align: center;
}

.cardProyecto > h6 {
  width: 80%;
  margin: 5% auto 5% auto;
}

.imgProyect {
  width: 80%;
  height: auto;
  border-radius: 5%;
  border: 1px solid black;
}

.imgProyect:hover {
  cursor: pointer;
}

/* END PROYECTOS--------------------------------------------------------*/

/* CONTACT-------------------------------------------------*/

#sectionContactos {
  padding-bottom: 90px;
  text-align: center;
  width: 90%;
}

#contactContainer {
  display: flex;
  flex-wrap: wrap;
}

.contactImgContainer {
  width: 50%;
  height: auto;
  padding-top: 15px;
}

.imgContact {
  width: 35%;
}

/* END CONTACT--------------------------------------------*/

/*FOOTER--------------------------------------------------*/
footer {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 8vh;
  left: 0;
  bottom: 0;
  background-color: #6892d5;
  color: black;
  justify-content: space-between;
}

#footerText {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
}

#footerImgContainer {
  padding-right: 15px;
}

#footerImgHome {
  height: 5vh;
  display: flex;
  align-items: center;
  color: black;
  border: black 1px solid;
  border-radius: 5%;
}

#footerText > p,
a {
  display: inline;
  font-size: 0.8em;
  text-align: left;
}
.footerLink {
  color: green;
  text-decoration: none;
}

/* END FOOTER------------------------------------------------*/

.nav-bar {
  background-color: #6892d5;
  margin-top: -1;
  padding: 15px;
  display: block;
  position: fixed;
  color: white;
  cursor: pointer;
  width: 100%;
  font-size: 1.5em;
}

i {
  padding-right: 10px;
  padding-left: 10px;
}

.menu,
.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu {
  position: fixed;
  margin-top: 61px;
  background: #79d1c3;
  width: 50%;
  margin-left: -100%;
  transition: all 1s ease-in-out;
}

.menu__link {
  display: block;
  padding: 10px;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

.submenu {
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.mostrarSubmenu {
  height: 50px;
  overflow: visible;
  transition: all 0.3s;
}

.menu__item {
  padding-left: 15px;
  text-decoration: none;
}

.menu__item > a {
  text-decoration: none;
  color: white;
  padding-bottom: 3px;
}

.submenu .menu__link {
  background: #79d1c3;
  padding-left: 35px;
}

.mostrar {
  margin-left: 0;
}

@media only screen and (min-width: 768px) {
  #home,
  #sectionSobreMi,
  #sectionEstudios,
  #sectionCertificado,
  #sectionTecnologias,
  #sectionExperiencia,
  #sectionProyectos,
  #sectionContactos {
    width: 98%;
    justify-content: center;
    align-content: center;
  }

  #home {
    padding-top: 100px;
    height: 100vh;
  }

  @keyframes cambio {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: 0%;
    }
  }

  /* PROYECTOS--------------------------------------------------------*/

  #cardContainer {
    display: flex;
    flex-direction: row;
  }

  .cardProyecto {
    width: 22%;
  }

  /* END PROYECTOS--------------------------------------------------------*/

  .contactImgContainer {
    width: 25%;
  }

  .imgContact {
    width: 25%;
  }
}

@media (min-width: 992px) {
  .nav-bar {
    display: none;
  }

  #main-nav {
    position: fixed;
    width: 100%;
    height: 0px;
  }

  .menu {
    display: inline;
    height: 7vh;
    margin-left: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0;
    margin-top: 0;
  }

  .container-submenu {
    position: relative;
  }

  .submenu {
    position: absolute;
    top: 7vh;
    width: 15vw;
    overflow: visible;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
  }

  .subMenu__item {
    background-color: rgb(128, 235, 220);
    display: block;
    width: 190px;
    height: 70px;
    text-align: center;
    padding-top: 5px;
    font-size: 1.3em;
    text-decoration: none;
  }

  .container-submenu:hover .submenu {
    opacity: 1;
    visibility: visible;
  }

  #home {
    height: 90vh;
    font-size: 3em;
    display: flex;
    flex-direction: row;
  }

  #homeText {
    width: 60%;
    height: 50vh;
    margin-top: auto;
    margin-bottom: auto;
  }

  #photo {
    width: 40%;
  }

  .sectionP {
    font-size: 2em;
  }

  h2,
  h3 {
    font-size: 3em;
    text-align: center;
  }

  h4 {
    font-size: 2em;
  }

  h6 {
    font-size: 1.5em;
  }

  #cvBtnContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
  }

  .cvButton{
    font-size: 2em;
  }

 

  p {
    font-size: 2em;
    padding: 5px 15px 5px 15px;
    margin: auto;
    text-align: left;
  }

  #certificadoContainer {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .certificadosLista{
    font-size: 2em;
  }

  .imgArrow {
  
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: text-top;
  }


   .contactImgContainer {
    width: 25%;
  }

  .imgContact {
    width: 20%;
  }
  #pContactos{
    text-align: center;
    padding-bottom: 40px;
  }

  footer{
    font-size: 2em;
  }

.footerLink {
    color: black;
  }


.modalContenido {
  height: 90vh;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top:  15px;
  padding-top: 5px;
  position: relative;
}
.modalContenido > button {
  width: 25%;
  margin-top:  5px;
  
  margin-left: auto;
  margin-right: auto;
}

#modalJs:target,
#modalCv:target,
#modalReact:target,
#modalUtn:target,
#modalAaci:target,
#modalBV:target,
#modalComunicacion:target,
#modalEducacionIt:target {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

.document {

  padding-top: 5px;
  width: 70%;
}

.documentWide {
  padding-top: 30px;
 width: 100%;
}

.btnWide {
  width: 5%;
 
  margin-top:  5px;
  
  margin-left: auto;
  margin-right: auto;
}

#imgAaci, #imgEducacionIT{
  height: 95%;
}

#imgBV{
  height: 100%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -50%;
  }
}

}

@media (min-width: 1200px) {

  @keyframes cambio {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: 0%;
    }
  }
}